.dashboard_mode_selector {
    width: 100%;
    text-align: right;
}

.submitted_date {
    font-size: 0.7em;
    font-weight: 800;
}

#main .content {
    border: 0;
}

#tl_soverview .section_wrapper {
    border-bottom: 10px solid #eaeaec;
    padding: 0;
}
#tl_soverview #tl_gai {
    border: 1px solid var(--content-border);
    padding: 10px;
}
#tl_soverview>div:last-child {
    border: 1px solid var(--content-border);
}

.reviewed_full { background-color: #0eff0e99; }
.reviewed_partial { background-color: #fbe83a; }
.reviewed_none { background-color: #ff000085; }

#ctrl_price_tier_display .tl_checkbox { display: none; }

html[data-color-scheme=dark] #tl_gai div.size25 .inside,
html[data-color-scheme=dark] #tl_gai div.size50 .inside {
    border: 1px solid var(--border);
    background-color: #232529;
    margin: 0 10px;
    padding: 10px;
}

html[data-color-scheme=light] #tl_gai div.size25 .inside,
html[data-color-scheme=light] #tl_gai div.size50 .inside {
    border: 1px solid var(--border);
    background-color: #f7f7f;
    margin: 0 10px;
    padding: 10px;
}

#tl_soverview #tl_gai,
#tl_soverview #tl_gai .psychologists_wrapper,
#tl_soverview #tl_gai .month_wrapper,
#tl_soverview #tl_gai .year_wrapper,
#tl_soverview #tl_gai .districts_wrapper {
    display: flex;
    flex-flow: row wrap;
}

.review_statuses h2 { margin-bottom: 10px; }
.review_statuses table {
    width: 95%;
}

.review_statuses table td:first-of-type {
    border-left: 1px solid black;
}
.review_statuses table td:last-of-type {
    border-right: 1px solid black;
}
.review_statuses thead tr { border-bottom: 1px solid black; }
.review_statuses table .center {
    text-align: center;
}

#tl_gai h1 {
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
}

#tl_gai div.size25 h3 { margin-bottom: 5px; }

#tl_gai .psychologists_wrapper .total, #tl_gai .districts_wrapper .total { font-size: 1.8rem; margin-bottom: 5px; }
#tl_gai .month_wrapper .total, 
#tl_gai .year_wrapper .total { font-size: 2.0em; margin-bottom: 5px; }

#tl_gai .psychologists_wrapper,
#tl_gai .districts_wrapper,
#tl_gai .month_wrapper,
#tl_gai .year_wrapper { width: 100%; }


#tl_gai .month_wrapper .total,
#tl_gai .year_wrapper .total { color: #0075CE; }
#tl_gai .psychologists_wrapper .total { color: red; }
#tl_gai .districts_wrapper .total { color: green; }

#tl_gai .inside.last_year { font-size: 0.65em; }
#tl_gai .inside.last_year h3 { font-size: 1.3em; }
#tl_gai .inside.last_year hr { margin: 10px 0; }

#tl_gai .transactions, #tl_gai .transactions_misc {
    font-size: 0.6rem;
    margin-bottom: 2px;
    display: flex;
    align-items: center;
}

.size100,
.size50,
.size33,
.size25 {
    margin-bottom: 15px;
}

.size100 { width: 100%; }
.size50 { width: 50%; }
.size33 { width: 33.33333%; }
.size25 { width: 25%; }

span.bold { font-weight: 600; font-size: 1.5em; margin-right: 5px; }

.status { font-weight: 600; text-transform: capitalize; }
.status_created, .status_pending { background-color: #fbe83a; }
.status_reviewed, .status_resolved { background-color: #ffb302; }

a.show { display: none; }
